<p id="notice"><%= notice %><%= link_to 'Upload new art', new_thing_path %></p>

<h1>Art</h1>

<div class="art">
<table>
  <thead>
    <tr>
      <!-- <th>Name</th> -->

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @things.each do |thing| %>

      <span>
        <tr class="art2">
   <div class='try'><td><h1>Title</h1><br> <div class='inny'><%= thing.name %></div</div></td>
          <td><div class='pic'><%= image_tag thing.image.url(:thumb) %></div></td>


          <span>
            <td><%= link_to 'Show', thing %></td>
            <td><%= link_to 'Edit', edit_thing_path(thing) %></td>
            <td><%= link_to 'Destroy', thing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </span>
        </tr>
      </span>

    <% end %>
  </tbody>
</table>
</div>

<br>
