<style>
body {
  text-align: center;
}
h1 {
  font-family: whoa;
  src: asset-url("whoa.ttf")format("truetype");

}
</style>

<body>

<p id="notice"><%= notice %></p>
<%= image_tag @thing.image.url(:large) %>

<h1>
  <strong>Name:</strong>
  <%= @thing.name %>
</h1>

<p>
  <strong>Description:</strong>
  <%= @thing.description %>
</p>

<p>Comments:</p>
<% @thing.comments.each do |comment| %>
  <p>
    <%= comment.comment %><br>
    Added <%= time_ago_in_words comment.created_at %> ago
  </p>
<% end %>

<%= render 'comments/form' %>

<%= link_to 'Edit', edit_thing_path(@thing) %> |
<%= link_to 'Back', things_path %>

</body>
