
<div class='con'>
  <p>Concrit</p>
</div>
<div class='sign'>
  <h1>Sign up</h1>
</div>

<div class="login">
  <%= form_for(@user) do |f| %>
  <%= f.label :username %><br>
  <%= f.text_field :username %><br>
  <%= f.label :password %><br>
  <%= f.password_field :password %>

</div>
<div class='button'>
  <%= f.submit %>
</div>
<% end %>
